body {
    background: #b8b8b8;
}

 #banner {
    width: 100%;
}

h1 {
    color: #ff0000;
    background:rgb(55, 0, 255)
    text-align: center;
}
    
p {
        text-align: center;
        font-size: 20px;
}

#missao {
    font-size: 30px;
}

em strong {
    color: rgb(10, 0, 203);
}